body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

header {
  width: 100%;
  background-color: rgb(105, 105, 105);
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-top-left,
.nav-top-right {
  width: 15%;
  height: 100px;
  background-color: rgb(220, 220, 220);
  text-align: center;
}

.nav-top-center {
  width: 67%;
  height: 130px;
  background-color: rgb(220, 220, 220);
}

.nav-top-center ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-top-center ul li {
  list-style: none;
  text-align: center;
}


.main-first {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "at at"
    "atf atr"
    "abl abr";
}

.article-top-left,
.article-top-right,
.article-bottom-left,
.article-bottom-right {
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-top {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: at;
  background-color: rgb(169, 169, 169);
  height: 150px;
}

.article-top-left {
  grid-area: atf;
  background-color: rgb(169, 169, 169);
}

.article-top-right {
  grid-area: atr;
  background-color: rgb(128, 128, 128);
}

.article-bottom-left {
  grid-area: abl;
  background-color: rgb(128, 128, 128);
}

.article-bottom-right {
  grid-area: abr;
  background-color: rgb(169, 169, 169);
}

.content {
  width: 350px;
}

.main-first ul {
  display: flex;
  justify-content: space-around;
}

.container {
  margin-top: 10px;
  background-color: rgb(192, 192, 192);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "cto ctt ctth"
    "cco cct ccth"
    "cbo cbt cbth"
    "al al al";
}

.container-top-one,
.container-top-two,
.container-top-three,
.container-center-one,
.container-center-two,
.container-center-three,
.container-bottom-one,
.container-bottom-two,
.container-bottom-three {
  height: 477px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-top-one {
  grid-area: cto;
  background-color: rgb(169, 169, 169);
}

.container-top-two {
  grid-area: ctt;
  background-color: rgb(128, 128, 128);
}

.container-top-three {
  grid-area: ctth;
  background-color: rgb(112, 128, 144);
}

.container-center-one {
  grid-area: cco;
  background-color: black;
}

.container-center-two {
  grid-area: cct;
  background-color: rgb(169, 169, 169);
}

.container-center-three {
  grid-area: ccth;
  background-color: rgb(128, 128, 128);
}

.container-bottom-one {
  grid-area: cbo;
  background-color: rgb(169, 169, 169);
}

.container-bottom-two {
  grid-area: cbt;
  background-color: rgb(128, 128, 128);
}

.container-bottom-three {
  grid-area: cbth;
  background-color: black;
}

.article-link {
  grid-area: al;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(169, 169, 169);
  height: 100px;
}


/* -------------------------------------------------------------green part styles */


.green_container .wrapper{
  text-align: center;
}



/* -------------------------------------------------------------end of green part styles */

.panel {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-color: rgb(192, 192, 192);
}

.panel-container {
  margin-top: 100px;
  width: 600px;
}

.community {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "pc pc"
    "cltl cltr"
    "clcl clcr"
    "clbl clbr"
    "al al";
}

.panel-community {
  grid-area: pc;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: rgb(169, 169, 169);
}

.persone-image {
  width: 20%;
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
}

.persone-week {
  width: 60%;
}

.community-link-top-left {
  grid-area: cltl;
  background-color: rgb(169, 169, 169);
}

.community-link-top-right {
  grid-area: cltr;
  background-color: rgb(169, 169, 169);
}

.community-link-center-left {
  grid-area: clcl;
  background-color: rgb(169, 169, 169);
}

.community-link-center-right {
  grid-area: clcr;
  background-color: rgb(169, 169, 169);
}

.community-link-bottom-left {
  grid-area: clbl;
  background-color: rgb(169, 169, 169);
}

.community-link-bottom-right {
  grid-area: clbr;
  background-color: rgb(169, 169, 169);
}

.community-link-top-left,
.community-link-top-right,
.community-link-center-left,
.community-link-center-right,
.community-link-bottom-left,
.community-link-bottom-right {
  display: flex;
  justify-content: center;
  height: 250px;
}

.community-highlight {
  width: 50%;
}

.featured-design {
  width: 90%;
  height: 200px;
  margin: auto;
  background-color: rgb(169, 169, 169);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 20%;
  background: black;
  height: 190px;
}


/* ------------------------------------------------------- guides container */
.guides-container .wrapper{
  display: flex;
}

.guide-card-container{
  flex: 0 1 calc(100% / 3);
}

.newsletter-wrapper{
  text-align: center;
}

.newsletter-wrapper .image{
margin: 0 auto;
}
/* ------------------------------------------------------- end of guides container */

/* ------------------------------------------------------- footer styles */
.footer{
  text-align: center;
}

.long-footer-nav-list ul li, .short-footer-nav-list ul li{
  display: inline-block;
}
/* ------------------------------------------------------- end of footer styles */